/*==============================================HTML==============================================*/
html {
    font-family: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    height: 100%;
    letter-spacing: 0.3px;
}

body {
    height: 100%;
    margin: 0px!important;

    background-color: #d9efec;

    overscroll-behavior-y: contain; // prevents pull down page to refresh
}

#pageContent {
    height: 100%;
}

.disable-text-highlight {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
